body {
  text-align: center;
  /* margin-left: auto;
  margin-right: auto; */
}
textarea {
  width: 80%;
  min-height: 300px;
  resize: vertical;
}
button {
  padding: 15px 32px;
}
ul {
  list-style: none;
  padding-left: 20%;
  text-align: left;
  align-items: center;
  flex-direction: column;
}
p.note {
  font-size: 10px;
}
@media screen and (min-width: 1000px) {
  div.input-text,
  div.output-text {
    display: inline-block;
  }
  textarea {
    width: 100%;
    width: 450px;
    min-height: 300px;
  }
}
